@import 'tailwindcss';

@utility font-size-* {
  font-size: --value(--font-size-*);
}

@layer base {
  html {
    word-break: keep-all;
    font-size: 62.5%; /* 10px = 1rem */
  }

  *:focus-visible {
    outline: 2px solid var(--color-brand-2);
    /* outline-offset: 2px; */
  }
}

@theme {
  --breakpoint-tablet: 640px;
  --breakpoint-desktop: 1024px;

  --spacing: 0.1rem; /* 1px = 0.1rem (root font-size is 10px) */

  --color-white: #ffffff;
  --color-black: #000000;

  /* Gray Scale */
  --color-gray-25: #f8f8f8;
  --color-gray-50: #edeef2;
  --color-gray-100: #e0e0e5;
  --color-gray-200: #c6c8cf;
  --color-gray-300: #b3b4bc;
  --color-gray-400: #9fa0a7;
  --color-gray-500: #84858c;
  --color-gray-600: #707177;
  --color-gray-700: #5d5d61;
  --color-gray-800: #49494c;
  --color-gray-900: #323236;
  --color-gray-950: #1f1f22;

  /* Brand */
  --color-brand-1: #e5f3ff;
  --color-brand-2: #3d9ef2;

  /* System */
  --color-red: #ff2727;

  /* Font Size */
  --font-size-10: 1rem;
  --font-size-11: 1.1rem;
  --font-size-12: 1.2rem;
  --font-size-13: 1.3rem;
  --font-size-14: 1.4rem;
  --font-size-15: 1.5rem;
  --font-size-16: 1.6rem;
  --font-size-17: 1.7rem;
  --font-size-18: 1.8rem;
  --font-size-19: 1.9rem;
  --font-size-20: 2rem;
  --font-size-21: 2.1rem;
  --font-size-22: 2.2rem;
  --font-size-23: 2.3rem;
  --font-size-24: 2.4rem;
  --font-size-25: 2.5rem;
  --font-size-26: 2.6rem;
  --font-size-27: 2.7rem;
  --font-size-28: 2.8rem;
  --font-size-29: 2.9rem;
  --font-size-30: 3rem;
  --font-size-31: 3.1rem;
  --font-size-32: 3.2rem;
  --font-size-33: 3.3rem;
  --font-size-34: 3.4rem;
  --font-size-35: 3.5rem;
  --font-size-36: 3.6rem;
  --font-size-37: 3.7rem;
  --font-size-38: 3.8rem;
  --font-size-39: 3.9rem;
  --font-size-40: 4rem;
  --font-size-41: 4.1rem;
  --font-size-42: 4.2rem;
  --font-size-43: 4.3rem;
  --font-size-44: 4.4rem;
  --font-size-45: 4.5rem;
  --font-size-46: 4.6rem;
  --font-size-47: 4.7rem;
  --font-size-48: 4.8rem;
  --font-size-49: 4.9rem;
  --font-size-50: 5rem;
}
